<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tha.testng.Demotestng"/>
      <class name="com.tha.testng.DemoTestNg2"/>
      <class name="com.tha.demo2.Signup"/>
    </classes>
  </test> <!-- Test -->  
</suite> 
<!-- Suite -->
